* {
}

/* app bar start */


.appBar {
  position: sticky;
  top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #d5c3b2;
  border: solid #6c6e5e 3px ;
  border-radius: 20px;
  overflow-x: hidden;
  gap: 4rem;
  overflow-y: scroll;
  max-width: calc(100% - 1rem);
  width: 100%;
  scrollbar-width: none;
  z-index: 2;

}
.swiper, swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
  
}
.pl-5{
padding-left: 30rem !important;
}
.g-5{
gap: 10rem !important;
}
.swipe-position{
cursor: grab;
transition-duration: 1000ms;
transform: translate3d(535.833px, 0px, 0px);
-webkit-transform: translate3d(535.833px, 0px, 0px);
-moz-transform: translate3d(535.833px, 0px, 0px);
-ms-transform: translate3d(535.833px, 0px, 0px);
-o-transform: translate3d(535.833px, 0px, 0px);
}
.buttonholder {
  flex: 1;
}
.buttonholder button {
  outline: none;
  display: flex;
  align-items: center;
  background-color: #9f9285;
  border: none;
  border-radius: 45px;
  margin: 5px;
}
.iconholder {
  padding: 7px;
}

.textholder {
  width: 150px;
  padding: 0px 7px;
  display: none;
}
.appBarButton img {
  width: 25px;
  height: 30px;
  color: transparent;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) hue-rotate(0deg);
}

.appBarButton p {
  margin: 0;
  font-size: 13px;
  color: #fff;
}

/* app Bar end */

.product {
  border: 1px solid #f00;
  margin-bottom: 0.5rem;
}

.layout {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: opacity 0.3s;
  visibility: visible;
  opacity: 1;
  padding-left: 5%;
  padding-right: 5%;
}

.layout.hidden {
  visibility: hidden;
  opacity: 0;
}

.modal {
  transform: translateY(50vh);
  opacity: 1;
  transition: transform 1s;
  transition-delay: 0.1s;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 6.6%;
  margin-right: 5%;
  gap: 15%;
}

.layout.hidden .modal {
  transform: translateY(100vh);
  opacity: 0;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disable-scroll {
  height: 100%;
  overflow: hidden;
}

/*
In case of unavailability 
*/
.product--not-available {
  position: relative;
  backdrop-filter: blur(90px);
  background: linear-gradient(
    90deg,
    rgba(114, 115, 99, 1) 19%,
    rgba(175, 172, 171, 1) 100%
  );
}

.availability {
  display: none;
  backdrop-filter: blur(3px);
  color: black;
}

.product--not-available .availability {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 1rem;
  width: 100%;
  height: 100%;
  text-align: end;

  font-size: 2rem;
  font-weight: bold;
}

/*
Buttons on product card
*/

.product-buttons {
  display: none;
  position: absolute;
  left: -1.2%;
  width: 30px;
  border-radius: 50%;
}

.product--in-shopping-list .product-buttons {
  display: block;
}

.image {
  border-radius: 15px;
  width: 6.3rem;
  height: 7.3rem;
}

.product {
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  gap: 30px;
  background-color: rgb(250, 209, 209);
  border-radius: 10px;
  border: none;
}

.line {
  border: 1px solid rgb(250, 209, 209);
  width: 30%;
  height: 0.5px;
}

.title-of-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h-title-of-sec {
  color: rgb(108, 108, 108);
}

.product-price {
  display: flex;
  font-weight: bolder;
}

.product-title {
  font-size: 1.6rem;
}

.img-layout {
  width: 98%;
  height: 40vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f5e5d7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 87vw;
  height: 40vh;
  /* top: 5%; */
}

.layout--close {
  border: none;
  background-color: transparent;
  color: black;
  font-weight: bolder;
}

.div-img-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99%;
}

.layout--order-btn {
  border: 3px solid rgb(54, 54, 54);
  background-color: transparent;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: bolder;
}

.div-layout-close {
  border-radius: 10px;
  background-color: rgba(255, 0, 0, 0.452);
}

.product--decrease-btn,
.product--increase-btn {
  border-radius: 7px;
  background-color: black;
  padding: 10px;
  font-weight: bold;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: white;
  font-size: 1.2rem;
  line-height: 1px;
}

.product--decrease-btn {
  font-weight: bold;
}

.layout--decrease-btn,
.layout--increase-btn {
  border-radius: 7px;
  background-color: transparent;
  padding: 5px;
}

.count {
  top: 10%;
  font-weight: bold;
  font-size: 1.2rem;
}

.div-count {
  border: 1px solid black;
  border-radius: 100%;
  padding: 2px 10px 2px 10px;
  outline: 1px solid rgb(126, 75, 0);
}

.div-mines-pluse {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;

  visibility: visible;
}

.div-count {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product--in-shopping-list {
  background: linear-gradient(
    90deg,
    rgba(114, 115, 99, 1) 19%,
    rgba(175, 172, 171, 1) 100%
  );
  position: relative;
}

.layout--order-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  display: none;
}

.product:not(.product--not-available) {
  cursor: pointer;
}

/*

 Shopping List Modal

*/

.open-shopping-list {
  padding: 0.7rem 1rem;
  margin: 1rem;
  position: fixed;
  top: 0;
  width: 3rem;
  height: 3rem;
  z-index: 4;
}

.open-shopping-list__icon {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 1.5rem;
  height: 1.5rem;
  visibility: visible;
  transform: translate(-50%, -50%);

  transition: all 0.3s;
  opacity: 1;
  /* transform: translate(-50%, -50%) rotateZ(0) scale(1); */
}

.open-shopping-list__icon--hidden {
  visibility: hidden;
  opacity: 0;
  /* transform: translate(-50%, -50%) rotateZ(1440deg) scale(0.7); */
}

.shopping-list-modal {
  width: 30rem; /* Not responsive #f00 */
  height: 70vh;
  position: fixed;
  top: 50%;
  left: 50%;

  z-index: 5;

  background-color: blue;
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);

  transition: opacity 0.3s 0.2s, transform 0.3s 0.2s;
}

.shopping-list-modal--hidden {
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.7);
}

.shopping-list__overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  transition: opacity 0.3s;

  backdrop-filter: blur(2px);
}

.shopping-list__overlay--hidden {
  visibility: hidden;
  opacity: 0;
}
