* {
  transition: all 0.2s;
}

/* app bar start */

.appBar {
  position: sticky;
  top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #d5c3b2;
  border: solid #6c6e5e 3px ;
  border-radius: 20px;
  overflow-x: hidden;
}
.buttonholder {
  flex: 1;
}
.buttonholder button {
  outline: none;
  display: flex;
  align-items: center;
  background-color: #9f9285;
  border: none;
  border-radius: 45px;
  margin: 5px;
}
.iconholder {
  padding: 7px ;
}

.textholder {
  width: 150px;
  padding: 0px 7px;
  /* display: none; */
}
.appBarButton img {
  width: 25px;
  height: 30px;
  color: transparent;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) hue-rotate(0deg);
}

.appBarButton p {
  margin: 0;
  font-size: 13px;
  color: #fff;
}



/* app Bar end */

.product {
  border: 1px solid #f00;
  margin-bottom: 0.5rem;
}

.layout {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  backdrop-filter: blur(1px);

  transition: opacity 0.3s;
  visibility: visible;
  opacity: 1;
}

.layout.hidden {
  visibility: hidden;
  opacity: 0;
}

.modal {
  height: 50vh;
  background-color: purple;
  display: block;
  transform: translateY(50vh);
  opacity: 1;
  transition: transform 1s;
  transition-delay: 0.1s;
}

.layout.hidden .modal {
  transform: translateY(100vh);
  opacity: 0;
}

.disable-scroll {
  height: 100%;
  overflow: hidden;
}

.hidden {
  display: none;
  opacity: 0;
}

/*
In case of unavailability 
*/
.product--not-available {
  background-color: red;
  position: relative;
}

.availability {
  display: none;
}

.product--not-available .availability {
  display: block;
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;

  font-size: 2rem;
}

/*
Buttons on product card
*/

.product-buttons {
  display: none;
}

.product--in-shopping-list .product-buttons {
  display: block;
}
